.registro {
   background: #f1f7fc;
   padding: 80px 0;
}

.registro .form-container {
   display: table;
   max-width: 900px;
   width: 90%;
   margin: 0 auto;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.registro form {
   display: table-cell;
   width: 400px;
   background-color: #ffffff;
   padding: 40px 60px;
   color: #505e6c;
}

.registro form h2 {
   font-size: 24px;
   line-height: 1.5;
   margin-bottom: 30px;
}

.registro form .form-control {
   background: #f7f9fc;
   border: none;
   border-bottom: 1px solid #dfe7f1;
   border-radius: 15px 0px;
   box-shadow: none;
   outline: none;
   color: inherit;
   text-indent: 8px;
   height: 42px;
   transition: .5s;
}

.registro form .form-control:focus,
.registro form .form-control:hover {
   border-radius: 15px 0px;
   border-bottom: 2px solid #3690c4;
}

.registro form .form-check {
   font-size: 13px;
   line-height: 20px;
}

.registro form .btn-primary {
   background-color: #3690C4;
   color: #fff;
   border-radius: 15px 0px;
   padding: 11px;
   box-shadow: none;
   margin-top: 26px;
   text-shadow: none;
   outline: none !important;
   transition: .3s;
}

.registro form .btn-primary:hover,
.registro form .btn-primary:active {
   border: 1px solid #3690c4;
   box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.registro form .btn-primary:active {
   transform: translateY(1px);
}

.registro form .login {
   display: block;
   text-align: center;
   font-size: 12px;
   color: #6f7a85;
   opacity: 0.5;
   text-decoration: none;
   transition: .5s;
}

.registro form .login:hover,
.registro form .login:active {
   opacity: 1;
   text-decoration: none;
}
.imagem_hulk{
   width: 100%;
   height: auto;
}